#main {
    /* Text Features */
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #26231D;

    border: 1px solid purple;
    border-radius: 0.5rem;

    /* Spacing */
    padding: 1.5rem 0;
    margin: 1em 0;
   
}

#title {
    /* Text Features */
    color: purple;
    font-size: xx-large;
    font-weight: 600;
}

hr {
    border: 1px solid #FFFFFF;
}

